@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,0");
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  --color-primary: #ffffff;
  --color-secondary: #ffb400;
  --color-danger: #f6511d;
  --color-success: #06a77d;
  --color-light-background: #151e3f;
  --color-dark-background: #030027;

  --toastify-color-dark: var(--color-dark-background);
  --toastify-color-progress-info: var(--color-secondary);
}

canvas {
  touch-action: none;
}
